[mysql]
#sort_buffer_size262144
#innodb_additional_mem_pool_size8388608
#innodb_buffer_pool_size8516534272
#
#key_buffer_size20971520
#
#log_error/var/lib/mysql/dev.mysql.err
#
#max_allowed_packet104857600
#max_heap_table_size33554432
#open_files_limit8192
#
#query_cache_limit5242880
#query_cache_min_res_unit1024
#query_cache_size41943040
#query_cache_strip_commentsON
#query_cache_typeON
#
#read_buffer_size524288
#read_rnd_buffer_size524288
#
#slow_query_logON
#slow_query_log_always_write_time10
#slow_query_log_file/var/lib/mysql/dev.slow.log
#slow_query_log_timestamp_alwaysOFF
#slow_query_log_timestamp_precisionsecond
#
#thread_cache_size200
#thread_concurrency10
#thread_handlingone-thread-per-connection
#thread_pool_high_prio_modetransactions
#thread_pool_high_prio_tickets4294967295
#thread_pool_idle_timeout60
#thread_pool_max_threads100000
#thread_pool_oversubscribe3
#thread_pool_size4
#thread_pool_stall_limit500
#thread_statisticsOFF
#
#tmp_table_size33554432
tmpdir/tmp/mysql

[mysqld] 
max_allowed_packet=64M
